
	@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');
	/*@import url('../scss/icons/material-design-iconic-font/css/materialdesignicons.min.css');*/

	.error { font-size: 11px !important; color: red !important; }
	*, a { color: #373737; outline: none !important; margin: 0; padding: 0;  }

	body h1, body h2, body h3, body h4, body h5, body h6 {
		font-family: 'Roboto', sans-serif !important;
		font-weight: normal;
		color: #373737;
	}
	body {
		font-family: 'Roboto', sans-serif !important;
		color: #373737;
		font-weight: normal;
		font-size: .90rem;
		margin: 0;
		padding: 0;
		background-color: #FFFFFF;
		height: 90%;
	}
	body.login { 
		background-position: top center;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url('../images/bg-pine.jpg');	
	}
	p{ font-size: 0.90rem !important; line-height: 1.4; }
	p.small{ font-size: 0.85rem !important; }

	body .h1, body h1 { font-size: 2.40rem; font-weight: 600 !important; line-height: 1.3; }
	body .h2, body h2 { font-size: 1.85rem; font-weight: normal !important; line-height: 1.3; }
	body .h3, body h3 { font-size: 1.50rem; font-weight: normal !important; line-height: 1.3; }
	body .h4, body h4 { font-size: 1.20rem; font-weight: normal !important; line-height: 1.3; }
	body .h5, body h5 { font-size: 0.90rem; font-weight: normal !important; line-height: 1.3; }

	.no-under{ text-decoration: none !important; }

	.nav-shadow{
		-webkit-box-shadow: 0px 6px 7px -6px #000000; 
		box-shadow: 0px 6px 7px -6px #000000;	
	}

	.container-fluid.SP{ padding: 0 3% !important; }


	.custom-control-label {
		line-height: 1.8 !important;
	}

	.box-content-fields{ display: none; }
	.box-content-fields.active{ display:block !important; }
	/*.box-content-publico{ display: none; }*/
	/*.box-content-escola{ display: none; }*/

	.btn-primary {
		color: #fff;
		background-color: #2e4001;
		border-color: #2e4001;
	}
	.btn-primary:not(:disabled):not(.disabled).active, 
	.btn-primary:not(:disabled):not(.disabled):active, 
	.show>.btn-primary.dropdown-toggle {
		color: #fff;
		background-color: #2e4001;
		border-color: #2e4001;
	}
	.btn-primary:hover {
		color: #fff;
		background-color: #5e7d12;
		border-color: #5e7d12;
	}

	.btn-save{
		border-radius: .35rem !important;
		padding: 0.5rem 1.75rem !important;
		background-color: #FFFFFF !important;
		color: #000 !important;
		border-color: #FFFFFF !important;
		font-size: 1.2rem !important;	
	}

	.btn-download{
		border-radius: .35rem !important;
		padding: 1.275rem 1.75rem !important;
		background-color: #FFFFFF !important;
		color: #000 !important;
		border-color: #FFFFFF !important;
		font-size: 1.4rem !important;	
	}
	.btn-return{
		border-radius: .35rem !important;
		padding: 0.5rem 1.0rem !important;
		background-color: #c3c3c3 !important;
		color: #000 !important;
		border-color: #c3c3c3 !important;
		font-size: 0.8rem !important;	
	}

	textarea:focus, 
	textarea.form-control:focus, 
	input.form-control:focus, 
	input[type=text]:focus, 
	input[type=password]:focus, 
	input[type=email]:focus, 
	input[type=number]:focus, 
	[type=text].form-control:focus, 
	[type=password].form-control:focus, 
	[type=email].form-control:focus, 
	[type=tel].form-control:focus, 
	[contenteditable].form-control:focus {
		box-shadow: inset 0 -1px 0 #ddd;
		box-shadow: none;
	}

	.form-custom-default {}
	.form-custom-default .form-group {
		position: relative;
		margin: .85rem 0 .40rem 0 !important;
	}
	.form-custom-default input, 
	.form-custom-default textarea{
		width: 100%;
		background: #fff;
		border-left: none;
		border-top: none;
		border-right: none;
		border-bottom: .01rem solid #a7a7a7;
		box-shadow: none;
		outline: none !important;
		border-radius: 0;
		padding-left: 0;
	}
	.form-custom-default textarea{ resize: none; }
	.form-custom-default input:hover, 
	.form-custom-default textarea:hover{ border-bottom: 0.01rem solid #006f1d; }

	.form-custom-default .form-group .form-control{ font-size: .8rem !important; }

	.form-control-placeholder {
		position: absolute;
		top: 0;
		padding: 0px 0 0 10px;
		padding-left: 2px;
		transition: all 200ms;
		opacity: 0.5;
		font-size: .85rem;
	}
	.form-control:focus + .form-control-placeholder,
	.form-control:valid + .form-control-placeholder {
		font-size: .70rem;;
		transform: translate3d(0, -80%, 0);
		opacity: 1;
		color: #386362;
	}


	.cursor-pointer{ cursor: pointer !important; }


	.list-group-item {
		padding: .15rem 0rem !important;
		border: 0px solid rgba(0,0,0,.125) !important;
	}




	.box-logo-left{ padding: 15px 0; text-align:left; }
	.box-logo-right{ padding: 15px 0; text-align:left; }


	.logoA14{
		position: absolute;
		left: 0;
		bottom: 10px;
		width: 100%;
		height: auto;
		padding: 0 3px;
	}


	iframe{
		position: relative;
		width: 100%;
		height: 100%;
		/*display: none;*/
	}


	.box-loading{
		position: absolute; 
		top: -1500px;
		left:0px; 
		width: 100%; 
		height: 100%; 
		background: rgb(0 0 0 / 90%);

		-webkit-transition: all .3s;
		-o-transition: all .3s;
		transition: all .3s;
	}
	.box-loading.active{ top: 0px; }
	.box-loading .text-msg{ color: #FFF; padding: 10px; font-size: 1rem; text-align: center; }

	.box-download{
		position: absolute; 
		top: -1500px;
		left:0px; 
		width: 100%; 
		height: 100%; 
		background: rgb(0 0 0 / 90%);

		-webkit-transition: all .3s;
		-o-transition: all .3s;
		transition: all .3s;
	}
	.box-download.active{ top: 0px; }


	/* --------------------------------------------------------- */
	/* barra do header no dashboard */
	/* --------------------------------------------------------- */
		.boxBarHeader{ 
			background-color: #e6e6e6; 
			background-color: transparent; 
			height: 105px !important; 
			display: none !important;
		}
		.boxBarHeader.active{ margin-top: -73px; }
		.boxBarHeader .boxBarHeader-content{ position: relative; height: auto; background-color: rgb(245 245 245); }
		.boxBarHeader .arrowToogle{ 
			z-index:999; 
			position: absolute;  
			right: 200px; 
			color: #FFFFFF; 
			cursor: pointer; 
			bottom: 3px !important; 
		}
		.boxBarHeader.active .arrowToogle{ bottom: -2px; bottom: 3px !important; }
		.boxBarHeader .toogleBarHeader { display: table; }
		.boxBarHeader .toogleBarHeader i{
			font-size: 1.3rem;
			color: #000000;
			background-color: rgb(245 245 245);
			padding: 3px 12px;
			border-radius: .25rem;
			border: 1px solid rgb(245 245 245);
		}
		.boxBarHeader .toogleBarHeader.active i{ transform: rotate(180deg); }



	/* --------------------------------------------------------- */
	/* barra lateral no dashboard */
	/* --------------------------------------------------------- */
		.boxLateral{
			z-index: 99;
			position: fixed;
			left: -50px;
			top: 0;
			width: 50px;
			height: 100vh;
			background-color: white;

			-webkit-box-shadow: 2px 0px 18px 1px rgba(66,66,66,0.67); 
			box-shadow: 2px 0px 5px 1px rgba(66,66,66,0.67);

			-webkit-transition: all .3s;
			-o-transition: all .3s;
			transition: all .3s;
		}
		.boxLateral.active{ left: 0; }
		.boxLateral-close{
			position: absolute;
			right: -40px;
			top: 15px;
			/*background-color: white;*/
			width: 40px;
			/*padding: 9px;*/
			/*border-top-right-radius: .35rem;*/
			/*border-bottom-right-radius: .35rem; */

			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-content: center;
			justify-content: flex-start;
			align-items: center;
		}
		.boxLateral-close a{
			line-height: 1;
			padding: 6px 8px;
			background-color: white;
			background-color: #7d70f3;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-top-right-radius: .35rem;
			border-bottom-right-radius: .35rem;
		}
		.boxLateral-close a i{ font-size: 1.1rem; color: white; }


		.boxLateral.active .boxLateral-close a{
			-webkit-transform: translate(0) rotate(180deg);
			/*-webkit-transform-origin: 60% 100%;*/

			-o-transform:translate(0) rotate(180deg);
			/*-o-transform-origin:60% 100%;*/

			transform: translate(0) rotate(180deg);
			/*transform-origin: 60% 100%;*/

			border-top-left-radius: .35rem;
			border-bottom-left-radius: .35rem;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		.boxLateral-content{
			position: relative;
			padding: 15px 6px;		
			/*background-color: gray;*/

			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			align-content: space-between;
			/*justify-content: space-between;*/
			justify-content: flex-start;
			height: 100%;

			background-image: linear-gradient(to top, #A638E7 0%, #757BF5 100%);
			/*box-shadow: 0.3rem 0.3rem 0.2rem rgb(255 255 255 / 90%) !important;*/
		}
		.boxLateral-content .bg-gradiente{
			display: none !important;
			z-index: 0;
			position: absolute;
			bottom: 0;
			left: -5%;
			height: 100% !important;
			width: 90%;
			-webkit-transform: skew(-25deg);
			-moz-transform: skew(-25deg);
			-o-transform: skew(-25deg);
			/*background-image: linear-gradient(to right, #a671e9 0%, #7a5e9f 70%, #a671e9 100%);*/
			/*background-image: linear-gradient(to right, #7912fb 0%, #ab6cfd 70%, #7912fb 100%);*/
		}
		.boxLateral-content .logotipo{ /*background-color: gray;*/ text-align: center; margin: 0 auto; }

		.boxLateral-content .logotipo{
			width: 40px;
			height: 40px;
			margin: 0 auto;
			background-color: white;
			border-radius: 50%;	
			text-align: center;
			margin-bottom: 10px;
		}
		.boxLateral-content .logotipo img{ width: 80%; margin: 0 auto; text-align: center; }



		.boxLateral-content .menu-opcoes{ 
			padding-top: 50px; 
			padding-top: 0; 
			/*padding-bottom: 25px;*/		
		}
		.boxLateral-content .menu-opcoes .item-menu{ position: relative; }
		.boxLateral-content .menu-opcoes .item-menu .menu-legenda{
			position: absolute;
			left: 50px;
			top: 0px;
			width: 150px;
			background: #7c71f3;
			z-index: -1;
			color: white;
			padding: 10px 2px;
			opacity: 0;
			font-size: .85rem;
			border-radius: .35rem;
			border-top-right-radius: .35rem;
			border-bottom-right-radius: .35rem;
			border-bottom-left-radius: .35rem;

			-webkit-transition: all .3s;
			-o-transition: all .3s;
			transition: all .3s;
		}
		.boxLateral-content .menu-opcoes .item-menu .menu-legenda:after{
			position: absolute;
			content: '';
			top: 5px;
			left: -20px;
			border-top: 10px solid rgb(255,255,255,0);
			border-right: 10px solid #7c71f3;
			border-bottom: 10px solid rgb(255,255,255,0);
			border-left: 10px solid rgb(255,255,255,0);
			display: flex;
			/* height: 100%; */
			flex-direction: row;
			flex-wrap: nowrap;
			align-content: center;
			justify-content: center;
			align-items: center;
		}
		.boxLateral-content .menu-opcoes .item-menu:hover .menu-legenda{
			opacity: 1;
		}

		/*.f-icon{ color: white !important; }*/
		.feather.f-icon{
			/*width: 24px;*/
			/*height: 24px;*/
			stroke: #ffffff;
			stroke-width: 2;
			stroke-linecap: round;
			stroke-linejoin: round;
			/*fill: #ffffff;*/
		}
		.feather.f-icon-black{
			/*width: 24px;*/
			/*height: 24px;*/
			stroke: #ffffff;
			stroke-width: 2;
			stroke-linecap: round;
			stroke-linejoin: round;
			/*fill: #ffffff;*/
		}
		


		.boxLateral-content .icones{
			position: relative;
			z-index: 40;
			/*width: 30px;*/
			/*height: 30px;*/
			margin: 0 auto;
			/*background-color: white;*/
			/*border-radius: 50%;	*/
			text-align: center;
			margin: 22px auto;
			color: white;
		}
		.boxLateral-content .icones i{ font-size: 1.8rem; color: white; }
		.boxLateral-content .icones img{ width: 70%; margin: 0 auto; text-align: center; }


		.popover.activeitem{
			/*background-image: linear-gradient(to top, #A638E7 0%, #757BF5 100%) !important;	*/
		}

		.popover .popover-container .popover-inner .popover-title{
			font-size: 23px !important;
			border-bottom: 1px solid #eeeeee;
			border-bottom: 2px solid rgba(255,255, 255, .05);
			color: #FFFFFF !important;
			text-align: center;
			text-transform: uppercase;
		}
		.popover .popover-container .popover-inner {
			display: block;
			bacground-color: #fff;
			border-radius: 4px;
			-webkit-box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.15);
			-moz-box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.15);
			box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.15);

			border: 0 !important;
			background-image: linear-gradient(to top, #A638E7 0%, #757BF5 100%) !important;	
			background-image: linear-gradient(to top, #a438f5 0%, #757BF5 100%) !important;

			background-image: linear-gradient(to top, #a438f5 0%, #000000 100%) !important;
		}
		.popover.popover-rightTop .popover-container .popover-arrow{
			border-left-color: #000 !important;
			border-bottom-color: #000 !important;
		}


		.popover-agenda.popover .popover-container .popover-inner{
			/*background-image: linear-gradient(to top, #7a74f3 0%, #790e0e 100%) !important;*/
		}

		.popover-agenda.popover .popover-container .popover-inner .popover-content{
			max-height: 350px !important;
		}

		#idContentAgenda{
			/*max-height: 350px !important;*/
			overflow: hidden;
			height: 350px !important;
		}
		#contentagenda {
			height: 330px !important;
			overflow: hidden;
			/*overflow: hidden;*/
		}


		.box-palco{
			display: flex !important;
			flex-wrap: wrap !important;
		}
		.box-palco .item{
			width: 48%;
			/*background-image: linear-gradient(to top, #A638E7 0%, #757BF5 100%);*/
			background-color: rgb(255,255,255, .1);
			padding: 10px 4px;
			border: 1px solid rgba(255,255, 255, .1);
			/*box-shadow: 0.3rem 0.3rem 0.2rem rgb(255 255 255 / 90%) !important;*/
			/*box-shadow: 0 1px 0 rgb(255 255 255 / 50%) !important;*/
			border-radius: .25rem;
			text-align: center;
			/*flex: 1;*/
			height: 100% !important;
		}
		.box-palco .item:hover{ background-color: rgb(67 23 96); }
		.box-palco .item a{ text-decoration: none; }
		.box-palco .icone{
			/* font-size: 2rem; */
			padding: 3px;
			padding-bottom: 10px;
			/*background-color: #9a49eb;*/
			border-radius: .25rem;
			margin: 0 auto;
		}
		.box-palco .title { font-size: .8rem; margin: 0 auto; text-align: center; }
		.box-palco .title h3{ font-size: .8rem; margin: 0 auto; text-align: center; color: white; }
		.box-palco .valor { width: 110px; font-size: 1.25rem !important; font-weight: bold; text-align: center; color: white; padding: 0; margin: 0 auto; }
		.box-palco .valor span{ font-size: 0.80rem !important; font-weight: normal; color: white; padding-right: 5px; }


		.flex-even {
			flex: 1;
		}


		.box-agenda .item{
			width: 100%;
			/*background-image: linear-gradient(to top, #A638E7 0%, #757BF5 100%);*/
			background-color: rgb(255,255,255, 0);
			padding: 15px 4px;
			border-bottom: 1px solid rgba(255,255, 255, .1);
			/*box-shadow: 0.3rem 0.3rem 0.2rem rgb(255 255 255 / 90%) !important;*/
			/*box-shadow: 0 1px 0 rgb(255 255 255 / 50%) !important;*/
			border-radius: .25rem;
			text-align: center;
		}
		.box-agenda .item.last{ border-bottom: 0px solid rgba(255,255, 255, .1); }
		.box-agenda .item:hover{ background-color: rgb(67 23 96); }
		.box-agenda .item a{ text-decoration: none; }
		.box-agenda .icone{
			/* font-size: 2rem; */
			padding: 3px;
			border-radius: .25rem;
			width: 50px;
		}
		.box-agenda .title {}
		.box-agenda .title h3{ font-size: .85rem !important; text-align: left; color: white; padding: 0; margin: 0;  }
		.box-agenda .horario p{ font-size: .75rem !important; text-align: left; color: white; padding: 0; margin: 0; }
		.box-agenda .valor { width: 110px; font-size: 1.25rem !important; font-weight: bold; text-align: right; color: white; padding: 0; margin: 0; }
		.box-agenda .valor span{ font-size: 0.80rem !important; font-weight: normal; color: white; padding-right: 5px; }

















		.boxLateral-content .busca{ margin: 25px 0; }
		.boxLateral-content .slider{ height: auto; }

		.filtro-itens a{ display: block; }

		.input-search{
			border-color: #659833;
			border-width: 2px;
			border-radius: .75rem;
		}
		.input-group-text.bsc{ background-color: #659833; border: 1px solid #659833; }
		.input-group-text.bsc i{ font-size: .75rem; color: white; }


	/* --------------------------------------------------------- */
	/* barra lateral right no dashboard */
	/* --------------------------------------------------------- */
		.boxLateralRight{
			z-index: 99;
			position: fixed;
			right: -50px;
			top: 15px;
			width: 50px;
			height: auto;
			/*background-color: #659833;*/
			background-image: linear-gradient(to top, #A638E7 0%, #757BF5 100%);
			/*-webkit-box-shadow: 2px 0px 18px 1px rgba(66,66,66,0.67); */
			/*box-shadow: 2px 0px 18px 1px rgba(66,66,66,0.67);*/

			padding: 12px;

			border-top-left-radius: .35rem;
			border-bottom-left-radius: .35rem;

			-webkit-transition: all .3s;
			-o-transition: all .3s;
			transition: all .3s;
		}
		.boxLateralRight.active{ right: 0; }
		.boxLateralRight .itens{
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			align-content: center;
			justify-content: space-around;
			align-items: flex-start;
			height: 100%;
		}
		.boxLateralRight .itens .item{
			padding: 10px 0;	
		}


	/* --------------------------------------------------------- */
	/* notificacao */
	/* --------------------------------------------------------- */
		.boxNotificacao{
			z-index: 99;
			position: fixed;
			left: 10px;
			bottom: -500px;
			width: 200px;
			/*height: 30px;*/

			padding: 12px;
			background-color: #200532;
			font-size: 0.8rem; 
			text-align: center; 
			color: white;
			
			border-radius: .35rem;
			/*border-top-left-radius: .35rem;*/
			/*border-bottom-left-radius: .35rem;*/

			-webkit-transition: all .3s;
			-o-transition: all .3s;
			transition: all .3s;
		}
		.boxNotificacao.active{ bottom: 15px; } 
		.boxNotificacao .item{ text-align: center; color: white; }
		.boxNotificacao .item .evento{ font-size: 1.2rem; text-align: center; color: white; }
		.boxNotificacao .item .span{ font-size: .9rem; text-align: center; color: white; }

	/* --------------------------------------------------------- */
	/* barra lateral no dashboard */
	/* --------------------------------------------------------- */
		.slider-expositores{  }
		.slider-expositores .item{ padding: 15px; border-right: 0px solid #e5e5e5; }
		.slider-expositores .owl-stage-outer{ 
			border: 0px solid #e5e5e5; 
			/*-webkit-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.3); */
			/*box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.3); */
		}
		.slider-expositores .item .box-logotipo{
			height: 65px;
			width: 75%;
			margin: 0 auto;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
		.customNavigation{
			position: absolute;
			width: 100%;
			height: 100%;
			text-align: center;
		}
		.customNavigation .dv-nav{ position: absolute; top: 0; height: 100%; width: 45px; }
		.customNavigation .dv-nav.dv-prev{ 
			left: -45px; 
			display: flex;
			flex-wrap: nowrap;
			align-content: center;
			justify-content: flex-end;
			align-items: center;
			flex-direction: row;	
		}
		.customNavigation .dv-nav.dv-next{ right: -45px; 
			display: flex;
			flex-wrap: nowrap;
			align-content: center;
			justify-content: flex-start;
			align-items: center;
			flex-direction: row;
		}
		.customNavigation a{
			/*position: absolute;*/
			height: 50px;
			padding: 12px;
			/*width: 45px;*/
			/*-webkit-user-select: none;*/
			/*-khtml-user-select: none;*/
			/*-moz-user-select: none;*/
			/*-ms-user-select: none;*/
			/*user-select: none;*/
			/*-webkit-tap-highlight-color: rgba(0, 0, 0, 0);*/
			z-index: 9999;
			background-color: #A61512;
		}
		/*.customNavigation a.prev{ }*/
		/*.customNavigation a.next{ }*/
		.customNavigation a i{
			color: #ffb909;
			font-weight: 900;
			font-size: 1.5rem;
		}


	/* --------------------------------------------------------- */
	/* barra lateral no dashboard */
	/* --------------------------------------------------------- */
		.boxResultadoBusca{
			z-index: 99;
			position: fixed;
			left: 25%;
			bottom: 0;
			width: 50%;
			height: auto;
			background-color: white;
			border-top-right-radius: .75rem;
			border-top-left-radius: .75rem;
			display: none;
		}
		.boxResultadoBusca.active{ display: block; }
		.boxResultadoBusca-close{
			position: absolute;
			right: -10px;
			top: -15px;
			/*background-color: white;*/
			width: 35px;
			height: 35px;
			/*padding: 9px;*/
			/*border-top-right-radius: .35rem;*/
			/*border-bottom-right-radius: .35rem; */
			border-radius: 50%;
			background-color: white;

			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-content: center;
			justify-content: center;
			align-items: center;		
		}
		.boxResultadoBusca-close a{ line-height: 1; font-size: 2rem; }


	/* --------------------------------------------------------- */
	/* slider resultado da busca */
	/* --------------------------------------------------------- */
		.slider-result-busca{  }
		.slider-result-busca .item{ padding: 15px; border-right: 0px solid #e5e5e5; }
		.slider-result-busca .owl-stage-outer{ 
			border: 0px solid #e5e5e5; 
			/*-webkit-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.3); */
			/*box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.3); */
		}
		.slider-result-busca .item .box-logotipo{
			height: 65px;
			width: 75%;
			margin: 0 auto;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
		.customNavigation{
			position: absolute;
			width: 100%;
			height: 100%;
			text-align: center;
		}
		.customNavigation .dv-nav{ position: absolute; top: 0; height: 100%; width: 45px; }
		.customNavigation .dv-nav.dv-prev{ 
			left: -45px; 
			display: flex;
			flex-wrap: nowrap;
			align-content: center;
			justify-content: flex-end;
			align-items: center;
			flex-direction: row;	
		}
		.customNavigation .dv-nav.dv-next{ right: -45px; 
			display: flex;
			flex-wrap: nowrap;
			align-content: center;
			justify-content: flex-start;
			align-items: center;
			flex-direction: row;
		}
		.customNavigation a{
			/*position: absolute;*/
			height: 50px;
			padding: 12px;
			/*width: 45px;*/
			/*-webkit-user-select: none;*/
			/*-khtml-user-select: none;*/
			/*-moz-user-select: none;*/
			/*-ms-user-select: none;*/
			/*user-select: none;*/
			/*-webkit-tap-highlight-color: rgba(0, 0, 0, 0);*/
			z-index: 9999;
			background-color: #A61512;
		}
		/*.customNavigation a.prev{ }*/
		/*.customNavigation a.next{ }*/
		.customNavigation a i{
			color: #ffb909;
			font-weight: 900;
			font-size: 1.5rem;
		}







		.popover-header {
			background-color: #dadada !important;
			border-bottom: 1px solid #dadada !important;
		}
		.popover-body {
			background-color: #f7f7f7 !important;
		}
	




	/* MODAL */
		.modal-backdrop.show{
			opacity: .9 !important;
		}
		.modal-backdrop{
			background-color: #fff !important;
		}
		.modal-dialog-w-auto{
			position: relative;
			/*display: table !important;  */
			/* This is important */ 
			overflow-y: auto;    
			overflow-x: auto;
			width: auto;
			min-width: 300px !important; 
			max-width: 500px !important;
			padding-right: 15px !important;
		}
		.modal-dialog-w-auto.larg {
			max-width: 800px !important;	
		}
		.modal-dialog-w-auto .modal-header{
			border-bottom: 2px solid rgba(255,255, 255, .05) !important;
			padding: .5rem 1rem !important;
		}
		.modal-dialog-w-auto .modal-header .link-close i{
			color: white !important;
			font-size: 1.5rem !important;
		}
		.modal-dialog-w-auto .modal-header .modal-title{
			color: white !important;
		}
		.modal-dialog-w-auto .modal-content{
			background-image: linear-gradient(to top, #A638E7 0%, #757BF5 100%) !important;
			background-image: linear-gradient(to top, #a438f5 0%, #000000 100%) !important;
			border-radius: 0.35rem !important;
			border: 0px solid rgba(0,0,0,.2) !important;
			box-shadow: 0.3rem 0.3rem 0.2rem rgb(0 0 0 / 60%) !important;
		}
		.modal-dialog-w-auto.wVideo { max-width: 900px !important; }

		.boxContentVideo{
			height: 100%;
			width: auto;
			max-width: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-content: center;
			justify-content: center;
			align-items: center;	
		}

		@media (min-width: 576px){
			.modal-dialog-w-auto{
				margin: 1.75rem 0 !important;
				margin-left: 55px !important;
			}
			.modal-dialog-w-auto.wVideo{
				margin: 0.75rem auto !important;
			}
		}







		.box-foto{
			width: 500px;
			height: 80%;
			/*display: flex !important;*/
			/*flex-direction: column;*/
			/*flex-wrap: nowrap;*/
			/*align-content: center;*/
			/*align-items: center;*/
			/*border: 1px dotted white; */
			/*justify-content: space-around;*/
		}
		.box-foto .item-box{
			/*background-color: white;*/
			/*border: 1px dotted white;*/
			/*height: 220px;*/
			/*width: 200px;*/
			margin-bottom: 30px;
		}
		.box-foto .item-box .title{
			height: auto;
			text-align: center;
		}
		.box-foto .item-box h3{ 
			color: white; 
			font-size: 1rem;
		}

		.box-foto .item-box .select-foto{
			width: 220px;
			height: auto;
			/*background-image: linear-gradient(to top, #A638E7 0%, #757BF5 100%);*/
			background-color: rgb(255,255,255, .1);
			padding: 0px;
			margin: 0 auto;
			margin-bottom: 3px;
			border: 0px solid rgba(255,255, 255, .1);
			/*box-shadow: 0.3rem 0.3rem 0.2rem rgb(255 255 255 / 90%) !important;*/
			/*box-shadow: 0 1px 0 rgb(255 255 255 / 50%) !important;*/
			border-radius: .25rem;
			text-align: center;
			cursor: pointer;

		}
		.box-foto .item-box .select-foto .img-moldura{ border-radius: .25rem; }


		.box-molduras{
			flex-wrap: wrap !important;
		}
		.box-molduras .item{
			width: calc(32% - 5px);
			margin: 4px 3px;
			/*margin-bottom: 5px;*/
			/*background-image: linear-gradient(to top, #A638E7 0%, #757BF5 100%);*/
			background-color: rgb(255,255,255, .1);
			padding: 10px 4px;
			margin-bottom: 3px;
			border: 1px solid rgba(255,255, 255, .1);
			/*box-shadow: 0.3rem 0.3rem 0.2rem rgb(255 255 255 / 90%) !important;*/
			/*box-shadow: 0 1px 0 rgb(255 255 255 / 50%) !important;*/
			border-radius: .25rem;
			text-align: center;
			cursor: pointer;
		}
		.box-molduras .item.active{
			border: 1px solid rgba(255,255, 255, 1);		
		}







/*!
 * 
 *         SimpleBar.js - v2.5.1
 *         Scrollbars, simpler.
 *         https://grsmto.github.io/simplebar/
 *         
 *         Made by Adrien Grsmto from a fork by Jonathan Nicol
 *         Under MIT License
 *       
 */
[data-simplebar] {
    position: relative;
    z-index: 0;
    overflow: hidden;
    -webkit-overflow-scrolling: touch; /* Trigger native scrolling for mobile, if not supported, plugin is used. */
}

[data-simplebar="init"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.simplebar-scroll-content {
    overflow-x: hidden;
    overflow-y: scroll;
    min-width: 100%;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
}

.simplebar-content {
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-height: 100%;
}

.simplebar-track {
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 11px;
}

.simplebar-scrollbar {
    position: absolute;
    right: 2px;
    border-radius: 7px;
    min-height: 10px;
    width: 5px;
    opacity: 1;
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    background: white;
    background-clip: padding-box;
}

.simplebar-track:hover .simplebar-scrollbar {
    /* When hovered, remove all transitions from drag handle */
    opacity: 0.5;
    -webkit-transition: opacity 0 linear;
    transition: opacity 0 linear;
}

.simplebar-track .simplebar-scrollbar.visible {
    opacity: 0.5;
}

.simplebar-track.horizontal {
    left: 0;
    width: auto;
    height: 11px;
}

.simplebar-track.vertical {
    top: 0;
}

.horizontal.simplebar-track .simplebar-scrollbar {
    right: auto;
    top: 2px;
    height: 7px;
    min-height: 0;
    min-width: 10px;
    width: auto;
}




	/* LOADING */
		.loading {
			display: flex;
			justify-content: center;
		}
		.loading div {
			width: 1rem;
			height: 1rem;
			margin: 2rem 0.3rem;
			background: #7912fb;
			border-radius: 50%;
			-webkit-animation: 0.9s bounce infinite alternate;
				  animation: 0.9s bounce infinite alternate;
		}
		.loading div:nth-child(2) {
			-webkit-animation-delay: 0.3s;
				  animation-delay: 0.3s;
		}
		.loading div:nth-child(3) {
			-webkit-animation-delay: 0.6s;
				  animation-delay: 0.6s;
		}

		@-webkit-keyframes bounce {
		  to {
			opacity: 0.3;
			transform: translate3d(0, -1rem, 0);
		  }
		}

		@keyframes bounce {
		  to {
			opacity: 0.3;
			transform: translate3d(0, -1rem, 0);
		  }
		}
		.donut {
		  width: 2rem;
		  height: 2rem;
		  margin: 2rem;
		  border-radius: 50%;
		  border: 0.3rem solid rgba(151, 159, 208, 0.3);
		  border-top-color: #979fd0;
		  -webkit-animation: 1.5s spin infinite linear;
				  animation: 1.5s spin infinite linear;
		}
		.donut.multi {
		  border-bottom-color: #979fd0;
		}

		@-webkit-keyframes spin {
		  to {
			transform: rotate(360deg);
		  }
		}

		@keyframes spin {
		  to {
			transform: rotate(360deg);
		  }
		}
		.ripple {
		  width: 2rem;
		  height: 2rem;
		  margin: 2rem;
		  border-radius: 50%;
		  border: 0.3rem solid #979fd0;
		  transform: translate(50%);
		  -webkit-animation: 1s ripple ease-out infinite;
				  animation: 1s ripple ease-out infinite;
		}

		@-webkit-keyframes ripple {
		  from {
			transform: scale(0);
			opacity: 1;
		  }
		  to {
			transform: scale(1);
			opacity: 0;
		  }
		}

		@keyframes ripple {
		  from {
			transform: scale(0);
			opacity: 1;
		  }
		  to {
			transform: scale(1);
			opacity: 0;
		  }
		}
		.multi-ripple {
		  width: 2.6rem;
		  height: 2.6rem;
		  margin: 2rem;
		}
		.multi-ripple div {
		  position: absolute;
		  width: 2rem;
		  height: 2rem;
		  border-radius: 50%;
		  border: 0.3rem solid #979fd0;
		  -webkit-animation: 1.5s ripple infinite;
				  animation: 1.5s ripple infinite;
		}
		.multi-ripple div:nth-child(2) {
		  -webkit-animation-delay: 0.5s;
				  animation-delay: 0.5s;
		}

		.fancy-spinner {
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  width: 5rem;
		  height: 5rem;
		}
		.fancy-spinner div {
		  position: absolute;
		  width: 4rem;
		  height: 4rem;
		  border-radius: 50%;
		}
		.fancy-spinner div.ring {
		  border-width: 0.5rem;
		  border-style: solid;
		  border-color: transparent;
		  -webkit-animation: 2s fancy infinite alternate;
				  animation: 2s fancy infinite alternate;
		}
		.fancy-spinner div.ring:nth-child(1) {
		  border-left-color: #979fd0;
		  border-right-color: #979fd0;
		}
		.fancy-spinner div.ring:nth-child(2) {
		  border-top-color: #979fd0;
		  border-bottom-color: #979fd0;
		  -webkit-animation-delay: 1s;
				  animation-delay: 1s;
		}
		.fancy-spinner div.dot {
		  width: 1rem;
		  height: 1rem;
		  background: #979fd0;
		}

		@-webkit-keyframes fancy {
		  to {
			transform: rotate(360deg) scale(0.5);
		  }
		}

		@keyframes fancy {
		  to {
			transform: rotate(360deg) scale(0.5);
		  }
		}






	/* RESPONSIVE */
	@media only screen and (max-width: 991px){
		.box-foto{
			width: 100% !important;
			height: auto !important;
		}	
		.box-foto .item-box{ width: 100% !important; }
		.box-foto .item-box .select-foto{ width: 140px !important; }
		.box-molduras .item{ width: calc(25% - 0px) !important; margin: 6px 8px !important; }

		.box-agenda .item{ padding: 10px 4px !important; }
		.box-agenda .title h3{ font-size: .80rem !important; }
		.box-agenda .icone .feather.f-icon-black{
			height: 20px !important;
			width: 20px !important;
		}

		.box-palco .title h3{ font-size: .75rem !important; }
		.box-palco .icone .feather.f-icon-black{
			height: 20px !important;
			width: 20px !important;		
		}

		.modal-dialog-w-auto{ max-width: 450px !important; }
		.modal-dialog-w-auto.larg{ max-width: 450px !important; }
	}

	@media only screen and (max-width: 991px) and (orientation: landscape) {
		.box-foto{
			width: 100% !important;
			height: auto !important;
		}
		.boxLateral-content .menu-opcoes{
			padding-top: 0 !important;
		}
		.logoA14{
			bottom: 10px !important;
			height: auto !important;
			padding: 0 3px !important;
		}
		.boxLateral-content .icones{
			margin: 16px auto !important;
		}
		.boxLateral-content .icones .feather.f-icon{
			width: 22px !important;
			height: 22px !important;
		}

		.boxLateralRight{ width: 45px !important; right: -45px !important; }
		.boxLateralRight.active{ right: 0 !important; }
		.boxLateralRight .item .feather.f-icon{
			width: 22px !important;
			height: 22px !important;
		}
	}



	/* 
		HACK PARA IPHONE 
	*/
	.mris_mobile.mris_android .boxLateral-content .logotipo{
		width: 25px !important;
		height: 25px !important;
		margin-bottom: 8px !important;
	}
	.mris_mobile.mris_android .boxLateral-content .menu-opcoes{
		
	}
	.mris_mobile.mris_android .boxLateral-content .icones{
		margin: 0 auto !important;
	}
	.mris_mobile.mris_android .boxLateral-content .menu-opcoes .item-menu{ }
	.mris_mobile.mris_android .boxLateral-content .menu-opcoes .item-menu a{ 
		margin: 7px auto !important;
		display: block !important;	
	}
	.mris_mobile.mris_android .boxLateral-content .icones .feather.f-icon{
		width: 18px !important;
		height: 18px !important;
	}


	/*
	@media only screen and (min-width: 896px) and (orientation: landscape) { 
		.boxLateral{ 
			border: 2px dotted red !important;
		}
	}

	@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 326dpi),
		only screen and (                min-resolution: 2dppx) { 
		
		border: 2px dotted red !important;
	}
	*/

